.btn() {
  font-size: @text-font-size;
  line-height: @text-line-height;
  color: #fff;
  background-color: #0566aa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 13px 32px;
  border-radius: @border-radius;
  white-space: nowrap;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: background-color, color;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px fadeout(@link-color, 50%, relative);
  }

  &:not([disabled]):hover {
    background-color: multiply(@link-color, #ccc);
  }

  &:not([disabled]):active {
    transform: translateY(1px);
  }

  &--border {
    background-color: transparent;
    color: @body-color;
    border: 1px solid #a9a9a9;
    border-radius: 5px;

    &:hover {
      color: #fff;
    }
  }

  &--white {
    background-color: #fff;
    color: @body-color;
    border-radius: 5px;

    &:hover {
      color: #fff;
    }
  }
}

#form() {
  .el() {
    display: block;
    border: 1px solid #a9a9a9;
    border-radius: @border-radius;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    color: @body-color;
    padding: 12px 15px;
    width: 100%;
    appearance: none;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    transition-property: box-shadow, color, border-color, background-color;

    &:focus,
    &:focus-within {
      outline: none;
      box-shadow: 0 0 0 2px fadeout(@link-color, 50%, relative);
    }

    &:not(:focus):invalid {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      color: #ccc;
      opacity: 1;
    }
  }
}
