.features {
  position: relative;
  z-index: 1;
}

.features__item {
  @media (min-width: @breakpoint-md) {
    width: 50%;
  }

  @media (min-width: @breakpoint-lg) {
    width: 33.33%;
  }

  &--large {
    @media (min-width: @breakpoint-lg) {
      width: 66.66%;
    }
  }

  &--full {
    @media (min-width: @breakpoint-lg) {
      width: 100%;
    }
  }
}
