.infrastructure__slider {
  padding-top: 3.5rem;
  margin-top: -2.5rem;
  padding-bottom: 480px;
  margin-bottom: -480px;

  &--active {
    z-index: 2;
  }
}

.infrastructure__slide {
  box-sizing: border-box;
}

.infrastructure__title {
  margin-bottom: 16px;
}

.infrastructure__text {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.infrastructure__main {
  @media (max-width: @breakpoint-md - 1px) {
    margin-top: 52px !important;
  }
}

.infrastructure__prev,
.infrastructure__next {
  border: 1px solid @body-color;
  border-radius: 50%;
  display: flex;
  width: 32px;
  height: 32px;
  margin-top: -16px;
  top: 16px;

  &::after {
    font-size: 16px;
  }
}

.infrastructure__prev {
  left: auto;
  right: 40px;
}

.infrastructure__next {
  right: 0;
}
