.main-form__body {
  width: ~"calc(100% - var(--element-gap-horizontal, @{element-gap-horizontal}))";
  border: 1px solid rgb(246, 246, 245);
  padding: 15px;
  border-radius: @border-radius;
  box-shadow: 0px 1px 4px 0px rgba(8, 23, 23, 0.24);

  @media (min-width: @breakpoint-md) {
    padding: 29px 39px;
  }
}

.main-form__form {
  flex-wrap: wrap;

  .form__item {
    width: 100%;

    @media (min-width: @breakpoint-xl) {
      width: 25%;

      &--large {
        width: 35%;
      }
    }
  }

  @media (min-width: @breakpoint-xl) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.main-form__radio {
  display: flex;

  input {
    .visually-hidden;
  }

  span {
    border: 1px solid #a9a9a9;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  input:checked + span {
    background-color: #0566aa;
    color: #fff;
  }
}

.main-form__submit {
  background-color: #c50555;
  padding: 12px 15px;
  width: 100%;
  text-transform: uppercase;
  box-shadow: 0px 3px 4px 0px rgba(8, 23, 23, 0.34);
  border-radius: 5px;
}
